body {
  margin: 0;
  padding: 0;
}

.hero-banner-img {
  position: relative;
  width: 100%;
  height: calc(100vh - 90px);
  background-image: url('../img/banner-dlab.jpg');
  background-size: cover;
  background-position: center;
  object-fit: cover;
  
}

.banner-text {
  margin: 0;
  padding: 0;
  width: 100%; 
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

@media (max-width: 768px) {
  .banner-text h1 {
    font-size: 30px!important;
  } 
  .banner-text h4 {
    font-size: 20px!important;
  }
  .banner-text h3 {
    font-size: 20px!important;
  }
  .banner-text p {
    font-size: 15px!important;
  }
}


.btn-b-ne {
  background: #fff;
  color: #1d1d1b;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-top: 20px;
  padding: 10px 30px;
  text-decoration: none;
  text-align: center;
  text-shadow: none;
}

.btn-b-ne:hover {
  background: #1d1d1b;
  color: #FFF;
}


.banner-text {
  color: #e2a30b;
  text-shadow: 2px 2px 2px black;
  font-family: 'Roboto', sans-serif;
}

.banner-text h1 {
  font-size: 46px;
}

.banner-text h4 {
  font-size: 36px;
}

.banner-text h4, p {
  color: #FFF;

}

.banner-text p{
  font-size: 24px;
}

.en-que-consiste-text h3 {
  font-family: 'Roboto', sans-serif;
  color: #729e2e;
  text-shadow: 1px 1px 1px black;
  font-size: 36px;
  font-weight: bold;
}

.en-que-consiste-text p {
  color: #212529;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.info-img img {
  height: 380px;
  object-fit: cover;
  width: 100%;
}

.info-text {
  height: 380px;
  text-align: left;
  flex-wrap: initial;
  flex-direction: column;
  background-color: #729e2e;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
}

.info-text h3 {
  font-size: 36px;
}

.info-text-requisitos {
  height: 380px;
  text-align: left;
  flex-wrap: initial;
  flex-direction: column;
  background-color: #729e2e;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
}

.info-text-requisitos h3 {
  font-size: 36px;
}

.beneficios {
  background-color: #009ee3;
  font-family: 'Roboto', sans-serif;
}

.beneficios h2 {
  font-size: 46px;
  text-shadow: 1px 1px 1px black;
}

.beneficios h4 {
  font-size: 24px;
}
.puedes-acceder {
  background-color: #ffc107;
}

.puedes-acceder h3 {
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px 1px black;
}

.conoce-programa {
  font-family: 'Roboto', sans-serif;
}

.conoce-programa h3 {
  font-size: 36px;
  text-shadow: 1px 1px 1px black;
}

.conoce-programa h4 {
  font-size: 27px;
  color: #729e2e;
}

.background-requisitos {
  background-color: #e9501d;
}

.requisitos-text {
  color: #FFF;
}

.requisitos-text h3 {

}

small {
  color: #212529;
}

span {
  font-weight: bold;
}

.proximas-celulas {
  background-color: #f2f2f2;
  /* padding: 50px 0; */
  font-family: 'Roboto', sans-serif;
}

.celulas-text h3 {
  font-size: 46px;
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px 1px black;
}

.fechas-item {
  background-color: #729e2e;
  padding: 30px;
  color: #FFF;
  min-height: 370px;
}

.financiamiento {
  background-image: url('../img/fondo-financiamiento2.jpg');
  padding: 100px 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}


.formas-pago .pagos-item {
  background-color: #FFF;
  text-align: center;
  margin-bottom: 25px;
}

.pagos-item h4 {
  font-size: 24px;
  background: #729e2e;
  color: #fff;
  display: block;
  width: 100%;
  padding: 15px 0;
}

.inner-pagos {
  padding: 15px;
  min-height: 310px;
}

.formas-pago h4 {
  font-size: 24px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #FFF;
}

.inner-pagos p {
  color: #212529;
  font-size: 18px;
}

.formas-pago .pagos-item .inner-pagos  {
  padding: 15px;
  min-height: 310px;
}

.formas-pago .pagos-item .inner-pagos .details-number {
  margin: 0;
  font-size: 24px;
}

.formas-pago .pagos-item .inner-pagos .price-number {
  color: #729e2e;
}
.financiamiento h2 {
  font-size: 46px;
  text-shadow: 1px 1px 1px black;
  color: #FFF;
}

.details-number {
  margin: 0;
  font-size: 24px;
  color: #212529;
}

.texto {
  font-size: 18px;
}

a {
  color: #729e2e;
  text-decoration: none;
}

.price-numbers {
  color: #729e2e;
}

.testimonios h1 {
  color: #e9501d;
  text-shadow: 1px 1px 1px black;
}

.testimonios p {
  color: #212529;
}

.testimonios .container {
  max-width: 1050px;
}

.testimonios h4 {
  font-size: 27px;
}

.fondo-azul {
  background-color: #009ee3;
  border-radius: 0px 30px 30px 0px;
}

.fondo-amarillo {
  background-color: #e2a30b;
  border-radius: 30px 0px 0px 30px;
}

